# Winning Wrestlers Entertainment

In this activity you will be taking four seperate csvs that were scraped down from a wrestling database, merging them together, and then creating charts to visualize a wrestler's wins and losses over the course of four years.

### Part 1 - Macho Merging

* You will likely need to perform three different merges over the course of this activity, changing the names of your columns as you go along.

In [8]:
# Import the necessary modules
import pandas as pd
import os
os.getcwd()

'/Users/mikenlee/Documents/Personal/analytics/GWU/gitlab_repo/gwu-arl-data-pt-09-2020-u-c/02-Homework/05-Matplotlib/03-Matplotlib-Project/01-Stu_WinnerWrestling-Part1/Unsolved'

In [13]:
# Bring each CSV into a separate data frame
# os.path.join('...', 'Resources', 'WWE-Data-2013.csv')

wwe13 = pd.read_csv("../Resources/WWE-Data-2013.csv")
wwe14 = pd.read_csv("../Resources/WWE-Data-2014.csv")
wwe15 = pd.read_csv("../Resources/WWE-Data-2015.csv")
wwe16 = pd.read_csv("../Resources/WWE-Data-2016.csv")
wwe16

            Wrestler  Wins  Losses  Draws
0       Dean Ambrose   133      67      4
1        Kevin Owens    61     130      2
2       Tyler Breeze    17     163      2
3          AJ Styles   108      68      0
4          Sami Zayn   111      59      6
..               ...   ...     ...    ...
160      Noah Potjes     3      10      0
161     Brock Lesnar     8       3      0
162     Cezar Bononi     1       9      1
163  James Ellsworth     8       3      0
164   Macey Estrella     1      10      0

[165 rows x 4 columns]

In [17]:
# Merge the first two datasets (2013 and 2014) on "Wrestler" so that no data is lost (should be 182 rows)
wwe13_14 = pd.merge(wwe13, wwe14, on = "Wrestler", how = "outer")
wwe13_14

           Wrestler  Wins_x  Losses_x  Draws_x  Wins_y  Losses_y  Draws_y
0      Daniel Bryan   177.0      37.0      6.0    35.0      16.0      2.0
1      Dean Ambrose    70.0     134.0      4.0   129.0      36.0      2.0
2    Antonio Cesaro    80.0     126.0      1.0     5.0      24.0      0.0
3      Seth Rollins    50.0     150.0      4.0    87.0     105.0      4.0
4       Randy Orton   129.0      63.0      8.0    33.0      87.0      5.0
..              ...     ...       ...      ...     ...       ...      ...
177   Elias Sampson     NaN       NaN      NaN     3.0      21.0      0.0
178      Chad Gable     NaN       NaN      NaN     5.0      17.0      0.0
179    Steve Cutler     NaN       NaN      NaN     4.0      15.0      0.0
180     Dana Brooke     NaN       NaN      NaN     4.0      10.0      0.0
181      Finn Balor     NaN       NaN      NaN     9.0       3.0      0.0

[182 rows x 7 columns]

In [24]:
# Rename columns 
wwe13_14 = wwe13_14.rename(columns = {"Wins_x" : "2013 Wins", "Losses_x" : "2013 Losses", "Draws_x" : "2013 Draws",
                          "Wins_y" : "2014 Wins", "Losses_y" : "2014 Losses", "Draws_y" : "2014 Draws"})

In [27]:
# Merge our newly combined dataframe with the 2015 dataframe
wwe13_14_15 = pd.merge(wwe13_14, wwe15, on = "Wrestler", how = "outer")
wwe13_14_15

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,Wins,Losses,Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...
208,Tommy Dreamer,NaN,NaN,NaN,NaN,NaN,NaN,4.0,9.0,1.0
209,Levis Valenzuela Jr.,NaN,NaN,NaN,NaN,NaN,NaN,7.0,6.0,0.0
210,Cassie,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.0,0.0
211,Gionna Daddio,NaN,NaN,NaN,NaN,NaN,NaN,8.0,4.0,0.0
212,Tino Sabbatelli,NaN,NaN,NaN,NaN,NaN,NaN,1.0,11.0,0.0

In [28]:
# Rename "wins", "losses", and "draws" to "2015 Wins", "2015 Losses", and "2015 Draws"
wwe13_14_15 = wwe13_14_15.rename(columns = {"Wins" : "2015 Wins", "Losses" : "2015 Losses", "Draws" : "2015 Draws"})

In [30]:
# Merge our newly combined dataframe with the 2016 dataframe

wwe13_14_15_16 = pd.merge(wwe13_14_15, wwe16, on = "Wrestler", how = "outer")
wwe13_14_15_16

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,Wins,Losses,Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Nikki Cross,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,5.0,0.0
266,Noah Potjes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,10.0,0.0
267,Cezar Bononi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9.0,1.0
268,James Ellsworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,0.0
269,Macey Estrella,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,0.0

In [31]:
# Rename "wins", "losses", and "draws" to "2016 Wins", "2016 Losses", and "2016 Draws"
wwe13_14_15_16.rename(columns = {"Wins" : "2016 Wins", "Losses" : "2016 Losses", "Draws" : "2016 Draws"})

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,Nikki Cross,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,5.0,0.0
266,Noah Potjes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,10.0,0.0
267,Cezar Bononi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9.0,1.0
268,James Ellsworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,0.0
269,Macey Estrella,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,0.0